{% csrf_token %}

<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="firstname" value="{{ employee.firstname }}">
</div>

<div class="form-group">
    <label for="surname">Surname</label>
    <input type="text" class="form-control" id="surname" name="secondname" value="{{ employee.secondname }}">
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" value="{{ employee.email }}">
</div>

<div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" name="password" value="{{ employee.password }}">
</div>

<div class="radio">
  <label>
      <input type="radio" name="gender" id="gender_m" value="M" {% if employee.gender == 'M' %}checked{% endif %}>
      Male
    </label>
</div>
<div class="radio">
  <label>
      <input type="radio" name="gender" id="gender_f" value="F" {% if employee.gender == 'F' %}checked{% endif %}>
      Female
    </label>
</div>

<select class="form-control" name="city">
  {% for c in cities %}
    <option value="{{ c.0 }}" {% if employee.city == c.0 %}selected{% endif %}>{{ c.1 }}</option>
  {% endfor %}
</select>

<div class="form-group">
    <label for="info">Info</label>
    <textarea class="form-control" id="info" name="info" >{{ employee.info }}</textarea>
</div>

<div class="checkbox">
    <label>
          <input type="checkbox" id="is_active" name="is_active" {% if employee.is_active %}checked="checked"{% endif %}>Is active?
    </label>
</div>

<button type="submit" class="btn btn-primary">Save</button>