{% extends 'base.html' %}

{% block title %}
    Create
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">Create Employee</div>
        <div class="panel-body">
            <form action="{% url 'create_employee' %}" method="post">

                {% include '_form.html' %}

            </form>
        </div>
    </div>
    </div>
{% endblock %}