{% extends 'base.html' %}
{% block title %}Employees{% endblock %}

{% block menu %}
    <li><a href="{% url 'create_employee' %}">Create</a></li>
{% endblock %}

{% block content %}


<div class="panel panel-primary">
    <div class="panel-heading">Employees</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for e in employes %}
                        <tr>
                            <td>{{ e.firstname }}</td>
                            <td>{{ e.secondname }}</td>
                            <td>{{ e.email }}</td>
                            <td>
                                <a href="{% url 'update_employee' e.pk %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'delete_employee' e.pk %}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>



{% endblock %}