{% extends 'base.html' %}

{% block title %}
    View
{% endblock %}

{% block menu %}
    <li><a href="{% url 'create_employee' %}">Create</a></li>
    <li><a href="{% url 'delete_employee' employee.pk %}">Delete these employee</a></li>
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">Employee - {{ employee.firstname }} {{ employee.secondname }}</div>
        <div class="panel-body">
            <form action="{% url 'update_employee' employee.pk %}" method="post">

                {% include '_form.html' %}

            </form>
        </div>
    </div>
    </div>
{% endblock %}