{% extends 'base.html' %}

{% block title %}
    View
{% endblock %}

{% block menu %}
    <li><a href="{% url 'create_employee' %}">Create</a></li>
    <li><a href="{% url 'delete_employee' employee.pk %}">Delete these employee</a></li>
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">Employee - {{ employee.firstname }} {{ employee.secondname }}</div>
        <div class="panel-body">
            <table class="table table-striped">

                <thead>
                <tr>
                    <th>Field</th>
                    <th>Data</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ employee.firstname }}</td>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td>{{ employee.secondname }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ employee.email }}</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>{{ employee.password }}</td>
                </tr>
                <tr>
                    <td>Info</td>
                    <td>{{ employee.info }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{ employee.gender }}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{ employee.city }}</td>
                </tr>
                <tr>
                    <td>Is active?</td>
                    <td>
                        {% if employee.is_active %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Actions</td>
                    <td>
                        <a href="{% url 'update_employee' employee.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_employee' employee.pk %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}